<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8"/>
  <title th:text="${title}">Hello, template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>