hr {
    width: 200px;
}
h1 {
    text-align: center;
    color: #006600;
}
h2 {
    color: #0000ff;
    text-decoration: underline;
    text-align: left;
}
#yeucauchitiet {
    font-weight: bold;
    text-align: left;
}
body div {
    text-align: center;
}
#me {
    text-transform: uppercase;
    color: #ff3399;
    background-color: #fecffd;
    font-weight: bold;
}
#doantho {
    font-style: italic;
    background-color: #ffffcc;
}
#wrapper {
    margin: 0 auto;
    width: 600px;
}