h2 {
    text-align: center;
    color: rgb(249, 20, 108);
}
img {
    width: 200px;
    float: left
}
.abc {
    background-color: rgb(249, 20, 108);
    color: #fff;
    width: 80px;
    display: inline-block;
}
p {
    margin: 0;
}
.hihi {
    padding-left: 100px;
}
.copy {
    color: rgb(95, 54, 116);
}
.link {
    margin-top: 30px;
    text-transform: capitalize;
    color: blue;
    font-weight: bold;
}
hr {
    margin: 20px;
}
#wrapper {
    margin: 0 auto;
    width: 650px;
}